@tailwind base;
@tailwind components;
@tailwind utilities;

/* For error on city forecast search */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
}

@keyframes outline-red {
    0% { outline-color: inherit; }
    25% { outline-color: rgb(239 68 68) }
    100% { outline-color: inherit; }
}

.animate-shake {
    animation: shake 0.4s ease-in-out, outline-red 0.6s ease-in-out;
}